header, footer, #content {
    text-align: center;
    border: 1px solid black;
    padding: 25px;
    margin-bottom: 25px;
}

article {
    background-color: #1C1C1C;
    color: white;
    padding: 10px;
}

article:not(:last-of-type) {
    margin-bottom: 15px;
}

article textarea {
    background-color: black;
}

.comment form {
    display: inline-block;
}